p {
  font-weight:600;
  font-size:x-large;
}

#logo{
  background-image: url("/assets/img/Untitled.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin:0px auto;
}

#header {
  height: 100vh;
  background-image: url("/assets/img/back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

