body {
  margin: 0px auto;
}

p {
  font-weight: 600;
  font-size: x-large;
}

/* NAVBAR */
#nav {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  justify-content: center !important;
  /* background-color: rgba(75, 75, 75, 0.872);
  color: white; */
}

#nav-container {
  width: 70%;
}

#nav__logo-container {
  width: 21rem;
}

#nav__text-container {
  width: 50%;
}

/* HEADER */
#header {
  height: 110vh;
  background-image: url("/assets/img/volvo7.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#header-button {
  width: 21%;
  max-width: 20rem;
  position: relative;
  left: 0;
  top: 75%;
  padding: 1.5rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: blue;
  box-shadow: 0 2px 0 0 #1e148f;
  font-size: 1.5rem;
  font-family: "Open Sans", Helvetica;
  color: white;
}

#header-button:hover {
  background-color: rgb(2, 2, 223);
}

/* BUTTON */
/* .button-box {
  top: 50%;
  margin: 0px auto;
}

.button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

.button {
  display: inline-block;
  padding: 20px 38px;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.986);
  background: linear-gradient(45deg, rgb(30, 43, 223), rgb(100, 108, 231));
  color: rgba(0, 0, 0, 0.986);
  box-shadow: 0px 0px 0px rgba(66, 62, 6, 0.349);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  top: 19.6%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.button:active {
  top: 19%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.312);
  background: rgba(38, 59, 250, 0.986);
} */
/* CONTACT INFO */
.contact_info {
  float: right;
}

@media only screen and (max-width: 1024px) {

  /* NAVBAR */
  #nav-container {
    width: 100%;
  }

  /* HEADER */
  #header-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 961px) {

  /* HEADER */
  #header-button {
    font-size: 1rem;
    padding: 1.2rem 0;
  }
}

@media only screen and (max-width: 861px) {

  /* HEADER */
  #header-button {
    font-size: .9rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 681px) {

  /* HEADER */
  #header-button {
    width: 30%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 601px) {

  /* NAVBAR */
  #nav {
    height: 5rem;
  }

  #nav__logo-container {
    width: 15rem;
  }

  #nav__text-container {
    font-size: .8rem;
  }

  /* HEADER */
  #header-button {
    width: 35%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 414px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 13rem;
  }

  #nav__text-container {
    font-size: .7rem;
  }

  /* HEADER */
  #header-button {
    width: 40%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 375px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 10rem;
  }

  #nav__text-container {
    font-size: .6rem;
  }

  /* HEADER */
  #header-button {
    width: 50%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 320px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 8rem;
  }

  #nav__text-container {
    font-size: .4rem;
  }
}