body {
  margin: 0px auto;
}

.fas {
  width: 20px;
}

/* NAVBAR */
#nav {
  width: 100%;
  height: 8rem;
  position: absolute;
  top: 0;
  justify-content: center !important;
  align-items: center;
  /* background-image: radial-gradient(circle 534px at 18.7% 28.6%, rgb(249, 249, 214) 0%, rgb(180, 244, 225) 90%); */
  /* background-image: linear-gradient(to right top, #ffffff, #fff0ff, #ffdadf, #ffdf84, #ffff2f); */
  /* background-image: linear-gradient(to bottom, #ffffff, #fffeff, #fffcfc, #fffdf5, #fffff1); */
  /* background-image: linear-gradient(to bottom, #ffffe9, #fff9ed, #fff6f5, #fcf6f9, #f5f5f5); */
  /* background-image: linear-gradient(to top, #fffce9, #fff5eb, #fef1f1, #f4eef2, #ececec); */
  /* background-image: linear-gradient(to top, #fff6ba, #ffeed1, #fff0f1, #fff8ff, #ffffff); */
  background-color: #fff;
}

#nav-container {
  width: 90%;
}

#nav__logo-container {
  width: 27rem;
}

#nav__text-container {
  width: 50%;
}

/* HEADER */
#header {
  height: 110vh;
  background-image: url("/assets/img/background.jpg");
  background-position: 50% 25%;
  /* background-image: url("/assets/img/volvo7.jpeg");
  background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* #header-button {
  width: 21%;
  max-width: 20rem;
  position: relative;
  left: 0;
  top: 75%;
  padding: 1.5rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to top, #fffce9, #fff5eb, #fef1f1, #f4eef2, #ececec);
  box-shadow: 0 2px 0 0 #f4eef2
  font-size: 1.5rem;
  font-family: "Open Sans", Helvetica;
} */
#header-button {
  width: 41%;
  max-width: 17rem;
  padding: .5rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  /* background-image: linear-gradient(to top, #fffce9, #fff5eb, #fef1f1, #f4eef2, #ececec); */
  background-color: #17a2b8;
  color: #fff;
  box-shadow: 0 2px 0 0 #f4eef2;
  font-size: .9rem;
  font-family: "Open Sans", Helvetica;
}

/* background-color: #17a2b8;
  box-shadow: 0 2px 0 0 #0e8a9d; */
#header-button:hover {
  /* background-color: #f4eef2; */
  background-color: #0e8a9d;
}

/* CONTACT INFO */
.contact_info {
  float: right;
  color: #212529;
}

.contact_info__address:hover {
  text-decoration: underline;
}

.contact-icon {
  width: 15px;
}

#form-btn {
  /* color: #fff; */
  /* background-color: #fe4242 !important; */
  background-color: #f4eef2 !important;
  border-radius: 3px;
}

#form-btn:focus {
  border: none;
  outline: none;
}

.icon-container {
  width: 10px;
}

/* FOOTER */
.footer-23rdsquad {
  color: rgb(210, 210, 210);
}

.page-footer {
  background-color: #1c2331 !important;
}

.footer-copyright {
  background-color: #161C26;
}

@media only screen and (max-width: 1024px) {

  /* NAVBAR */
  #nav-container {
    width: 100%;
  }

  /* HEADER */
  #header-button {
    /* font-size: 1.2rem; */
    font-size: .9rem;
  }
}

@media only screen and (max-width: 961px) {

  /* HEADER */
  #header-button {
    font-size: 1rem;
    padding: 1.2rem 0;
  }
}

@media only screen and (max-width: 861px) {

  /* HEADER */
  #header-button {
    font-size: 0.9rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 681px) {

  /* HEADER */
  #header-button {
    width: 30%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 601px) {

  /* NAVBAR */
  #nav {
    height: 5rem;
  }

  #nav__logo-container {
    width: 15rem;
  }

  #nav__text-container {
    font-size: 0.8rem;
  }

  /* HEADER */
  #header-button {
    width: 35%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 414px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 13rem;
  }

  #nav__text-container {
    font-size: 0.7rem;
  }

  /* HEADER */
  #header-button {
    width: 40%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 375px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 10rem;
  }

  #nav__text-container {
    font-size: 0.6rem;
  }

  /* HEADER */
  #header-button {
    width: 50%;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 320px) {

  /* NAVBAR */
  #nav {
    height: 4rem;
  }

  #nav__logo-container {
    width: 8rem;
  }

  #nav__text-container {
    font-size: 0.4rem;
  }
}